<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageHeader.title %> - 0x2642 Blog</title>
    <meta name="description" content="overworking blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- CSS Setting -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <% pageHeader.extraStyles.forEach(function(extraStyle, index){ %>
    <link rel="stylesheet" type="text/css" href="<%=pageParam.extraStyle%>">
    <% }) %>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="browserupgrade">您正在是使用<strong>过时的</strong>浏览器。为了提升您的浏览体验请升级到最新浏览器！</p>
    <![endif]-->
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span>0x</span>2642</a>
          </div><!-- /.navbar-header -->
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li<%if(pageHeader.active=="Home"){%> class="active"<%}%>><a href="/">Home</a></li>
              <li<%if(pageHeader.active=="Technology"){%> class="active"<%}%>><a href="/tag/technology">Technology</a></li>
              <li<%if(pageHeader.active=="ACG"){%> class="active"<%}%>><a href="/tag/acg">ACG</a></li>
              <li<%if(pageHeader.active=="Life"){%> class="active"<%}%>><a href="/tag/life">Life</a></li>
            </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>