<%- include header %>
    <div id="solid-input" style="position: absolute; width: 120px; height: 30px; left: 20px; top: 70px;"><input class="input-class" type="text" /></div>
    <div id="move-input" style="position: absolute; width: 120px; height: 30px; left: 20px; top: 170px;"><input class="input-class" type="text" /></div>
<%- include footer %>