<%- include header %>
<% if (typeof(error_msg) !== 'undefined' && error_msg) { %>
	<div style="margin-top: 300px; margin-left: 100px;"> 
		<p>Fark u, there's some error : <em><%= error_msg %></em></p>
	</div> 
<% } %>
<div class="login">
	<form method="post" onsubmit="waitingDialog.show('Sending e-mail...', {dialogSize: 'sm', progressType: 'warning'});">
		<label for="exampleInputEmail3">请输入邮箱地址：</label>
		<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email"><br/>
		<input class="btn btn-default" type="submit" value="获取密码"/>
	</form>
</div>
<%- include footer %>