<%- include header %>
<div class="login">
	<form method="post">
		<label for="exampleInputEmail3">请输入验证密码：</label>
		<input type="password" class="form-control" id="password" placeholder="Password" name="password"><br/>
		<input class="btn btn-default" type="submit" value="登入"/>
	</form>
</div>
<%- include footer %>