<%- include header %>
<div class="login">
	<form method="post" onsubmit="waitingDialog.show('Sending e-mail...', {dialogSize: 'sm', progressType: 'warning'});">
		<label for="exampleInputEmail3">请输入邮箱地址：</label>
		<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email"><br/>
		<input class="btn btn-default" type="submit" value="获取密码"/>
	</form>
</div>
<%- include footer %>