<%- include header %>
<div style="margin-top: 80px; margin-left: 50px">
	<form method="post">
		标题: </br>
		<input name="title" type="text" /></br>
		内容: </br>
		<textarea name="context" cols="100" rows="30"></textarea> </br>
		<input type="submit" value="提交" />
	</form>
</div>
<%- include footer %>