<%- include header %>
<div class="login">
	<form method="post">
		请输入邮箱地址：<input type="email" name="email"/><br />
		请输入昵称：<input type="text" name="nickname"/><br />
		请输入关于自己：<input type="text" name="about"/><br />
		请输入签名：<input type="text" name="signiture"/><br />
		<input type="submit" value="存入数据库" />
	</form>
</div>
<%- include footer %>