<div class="col-xs-12 col-md-4">
  <section class="about">
    <p><%=pageSider.aboutText%></p>
    <% if (pageSider.aboutLink != "") { %>
    <button class="btn btn-default" href="<%=pageSider.aboutLink%>">更多</button>
    <div class="clearfix visible-nm"></div>
    <% } %>
  </section>
  <section class="social">
    <div class="row">
      <div class="col-xs-3"><a href="#weixin" class="social-icon social-weixin">微信</a></div>
      <div class="col-xs-3"><a href="#weibo" class="social-icon social-weibo">微博</a></div>
      <div class="col-xs-3"><a href="#qq" class="social-icon social-qq">QQ</a></div>
      <div class="col-xs-3"><a href="#rss" class="social-icon social-rss">RSS</a></div>
    </div>
  </section>
  <section class="ctrl">
    <% if (user) { %>
    <img src="https://avatars3.githubusercontent.com/u/5365783?v=3&s=460" class="avatar img-circle">
    <p>Welcome back, <em><%= user.nickName %></em></p>
    <div class="ctrl-bar">
      <button class="btn btn-primary btn-block" href="/post"><span class="glyphicon glyphicon-edit"></span>发表新文章</button>
      <button class="btn btn-default btn-block" id="signature">编辑签名</button>
      <button class="btn btn-danger btn-block" href="/logout"><span class="glyphicon glyphicon-log-out"></span>登出</button>
    </div>
    <% }else{ %>
    <div class="ctrl-bar">
      <button class="btn btn-default btn-block" href="/login"><span class="glyphicon glyphicon-log-in"></span>登陆</button>
      <button class="btn btn-default btn-block" href="/reg"><span class="glyphicon glyphicon-log-in"></span>注册</button>
      <button class="btn btn-default btn-block" href="/upload"><span class="glyphicon glyphicon-log-in"></span>上传图片</button>
    </div>
    <% } %>
  </section>
</div>