<%- include header %>
<div style="margin-top: 100px; margin-left: 50px">
	<form method='post' action='/upload' enctype='multipart/form-data' >
		<input type="file" name='file1'/><br>
		<input type="submit" />
	</form>
</div>
<%- include footer %>