/*
 * Copyright 2015 Team.0x2642
 */
 
/* Start of global style*/
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #EEE;
}

button span,
a[role=button] span {
  margin-right: 4px;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
/* End of global style */

.browserupgrade {
  margin: 0.2em 0;
  background: #FF9;
  color: #000;
  padding: 0.2em 0;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-brand span {
  color: #66CC66;
}

.navbar-brand:hover span {
  color: #66FF66;
}

.bg {
  height: 300px;
  padding: 80px 0;
  color: #FFF;
  text-shadow: 0 0 5px #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #101010;
  padding: 20px 0;
  color: #CCC;
  border-top: solid 2px #66CC66;
}

section,
article .desc {
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

article img {
  width: 100%;
  height: 100%;
}

article h2 {
  margin-top: 0;
}

article author {
  color: #999;
}

article author span {
  font-size: 12px;
  padding-right: 4px;
}

article ul {
  height: 30px;
  margin-bottom: 0;
}

article li {
  float: right;
  list-style: none;
  padding: 4px 8px;
  margin-left: 4px;
  background-color: #6C6;
  color: #FFF;
}

.about a {
  float: right;
}

.ctrl {
  text-align: center;
}

.ctrl-bar {
  margin: 0 auto;
  width: 80%;
}

.ctrl-bar>button {
  margin: 4px auto;
}

.ctrl-bar>button:nth-of-type(3) {
  margin-top: 12px;
}

.ctrl img {
  width: 80px;
  height: 80px;
  border: 2px solid #6C6;
}

.ctrl p {
  margin-top: 12px;
  margin-bottom: 16px;
}

.social-icon{
  width: 60px;
  height: 60px;
  font-size: 0px;
  display: block;
  background-image: url("../images/social-icon.png");
}

.social-weixin{
  background-position: 0 0;
}
.social-weibo{
  background-position: -60px 0;
}
.social-qq{
  background-position: -120px 0;
}
.social-rss{
  background-position: -180px 0;
}
