/*
 * Copyright 2015 Team.0x2642
 */

/* Start of global style*/
html{
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #EEE;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* End of global style */

.browserupgrade {
    margin: 0.2em 0;
    background: #CFF;
    color: #000;
    padding: 0.2em 0;
}
.navbar-brand{
  font-size: 24px;
}
.navbar-brand span{
  color: #66CC66;
}
.navbar-brand:hover span{
  color: #66FF66;
}
.bg{
  height: 300px;
  padding: 80px 0px;
  color: #FFF;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #101010;
  padding: 20px 0;
  color: #CCC;
  border-top: solid 2px #66CC66;
}
section,article .desc{
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
}
article img{
    width: 100%;
    height: 100%;
}
article h2{
    margin-top: 0;
}
article author{
    color: #999;
}
article author span{
    font-size: 12px;
    padding-right: 4px;
}
article ul{
    height: 30px;
    margin-bottom: 0;
}
article li{
    float: right;
    list-style: none;
    padding: 4px 8px;
    margin-left: 4px;
    background-color: #6C6;
    color: #FFF;
}
